<form #editForm="ngForm" class="card m-b-30">
  <div class="card-body row">
    <div class="col-3 d-flex align-items-center justify-content-center">
      <img
        src="{{ employee?.imageUrl }}"
        alt="{{ employee?.name }}"
        title="{{ 'Picture of ' + employee?.name }}"
        class="card--img img-fluid rounded-circle"
        style="width: 16rem"
      />
    </div>
    <div class="col-9 card-title align-self-center mb-0">
      <h2>{{ employee?.name }}'s Page</h2>
      <div class="form-group">
        <label for="name">Name *</label>
        <input
          type="text"
          ngModel="{{ employee?.name }}"
          name="name"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          autocomplete="off"
          title="Edit Employee Name"
          required
        />
      </div>
      <div class="form-group">
        <label for="jobTitle">Job Title *</label>
        <input
          type="text"
          ngModel="{{ employee?.jobTitle }}"
          name="jobTitle"
          class="form-control"
          id="jobTitle"
          placeholder="Developer, Manager, Support, etc"
          list="jobTitle"
          title="Edit Employee Job Title"
          required
        />
        <datalist id="jobTitle">
          <option value="Project Manager"></option>
          <option value="Developer"></option>
          <option value="Designer"></option>
          <option value="Support"></option>
          <option value="System Admin"></option>
          <option value="SEO Specialist"></option>
          <option value="Recruiter"></option>
          <option value="HR Manager"></option>
        </datalist>
      </div>
    </div>
  </div>
  <input
    type="hidden"
    ngModel="{{ employee?.id }}"
    name="id"
    class="form-control"
    id="id"
  />
  <input
    type="hidden"
    ngModel="{{ employee?.employeeCode }}"
    name="userCode"
    class="form-control"
    id="userCode"
  />
  <div class="card-body">
    <div class="form-group">
      <label for="imageUrl">Image URL *</label>
      <input
        type="url"
        ngModel="{{ employee?.imageUrl }}"
        name="imageUrl"
        class="form-control"
        id="imageUrl"
        placeholder="Image URL"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email Address *</label>
      <input
        type="email"
        ngModel="{{ employee?.email }}"
        name="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        autocomplete="off"
        title="Edit Employee Email"
        required
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone *</label>
      <input
        type="tel"
        ngModel="{{ employee?.phone }}"
        name="phone"
        class="form-control"
        id="phone"
        placeholder="Phone"
        title="Edit Employee Phone"
        required
      />
    </div>
    <div class="form-group">
      <label for="websiteUrl">Website URL</label>
      <input
        type="url"
        ngModel="{{ employee?.websiteUrl }}"
        name="websiteUrl"
        class="form-control"
        id="websiteUrl"
        placeholder="https://www.employees-website.com"
        title="Edit Employee Website URL"
      />
    </div>
    <div class="form-group">
      <label for="linkedinUrl">LinkedIn URL</label>
      <input
        type="url"
        ngModel="{{ employee?.linkedinUrl }}"
        name="linkedinUrl"
        class="form-control"
        id="linkedinUrl"
        placeholder="https://www.linkedin.com/in/employee-name/"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="onUpdateEmployeeFromPage(editForm.value)"
      [disabled]="editForm.invalid"
      data-dismiss="modal"
      class="btn btn-primary"
      title="Save Employee Changes"
    >
      Save changes
    </button>
  </div>
</form>

<div class="card m-b-30">
  <div class="card-body row">
    <div class="col-12 d-flex">
      <h2>{{ employee?.name }} Salaries</h2>
    </div>

    <!-- Employee Salaries Table with Update Form -->
    <div class="col-12 d-flex">
      <form
        #salaryEditForm="ngForm"
        (ngSubmit)="onUpdateEmployeeSalaries(salaryEditForm.value)"
        class="w-100"
      >
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Amount</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let salary of salaries; let i = index">
              <input
                type="hidden"
                ngModel="{{ salary.id }}"
                name="{{ i }}_id"
                id="{{ i }}_id"
                class="form-control"
              />
              <td scope="row">
                <input
                  type="date"
                  ngModel="{{ salary.startDate }}"
                  name="{{ i }}_startDate"
                  id="{{ i }}_startDate"
                  class="form-control"
                  title="Salary Start Date"
                />
              </td>
              <td>
                <input
                  type="date"
                  ngModel="{{ salary.endDate }}"
                  name="{{ i }}_endDate"
                  id="{{ i }}_endDate"
                  class="form-control"
                  title="Salary End Date"
                />
              </td>
              <td>
                <input
                  type="number"
                  ngModel="{{ salary.amount }}"
                  name="{{ i }}_amount"
                  id="{{ i }}_amount"
                  class="form-control"
                  title="Salary Amount"
                />
              </td>
              <td>
                <div class="d-flex align-items-center" style="gap: 0.5rem">
                  <button
                    type="button"
                    class="text-danger"
                    style="
                      font-size: 1.25rem;
                      font-weight: 700;
                      cursor: pointer;
                      background: transparent;
                      border: none;
                    "
                    aria-label="Delete Salary"
                    title="Delete Salary"
                    (click)="onDeleteEmployeeSalary(salary.id)"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer py-3 px-0">
          <button
            type="submit"
            [disabled]="salaryEditForm.invalid"
            class="btn btn-primary"
            title="Save Salary Changes"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>

    <!-- Employee Salary Add Form -->
    <div class="col-12">
      <p>Add new Salary</p>
      <form
        #salaryAddForm="ngForm"
        (ngSubmit)="onAddEmployeeSalary(salaryAddForm)"
        class="w-100"
      >
        <div class="d-flex w-100 justify-content-between" style="gap: 1rem">
          <div class="form-group w-100">
            <label for="startDate">Start Date</label>
            <input
              type="date"
              ngModel
              name="startDate"
              id="startDate"
              class="form-control"
              title="Salary Start Date"
              required
            />
          </div>
          <div class="form-group w-100">
            <label for="endDate">End Date</label>
            <input
              type="date"
              ngModel
              name="endDate"
              id="endDate"
              class="form-control"
              title="Salary End Date"
              required
            />
          </div>
          <div class="form-group w-100">
            <label for="amount">Amount</label>
            <input
              type="number"
              ngModel
              name="amount"
              id="amount"
              class="form-control"
              title="Salary Amount"
              required
            />
          </div>
        </div>
        <div class="modal-footer py-3 px-0">
          <button
            type="submit"
            [disabled]="salaryAddForm.invalid"
            class="btn btn-primary"
            title="Add New Salary"
          >
            Add Salary
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row col-lg-12">
  <a routerLink="/">Back to all employees page</a>
</div>
