<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title" id="updateEmployeeModalLabel">
        Quick Edit employee {{ editEmployee?.name }}
      </div>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #editForm="ngForm">
        <div class="form-group">
          <label for="name">Name *</label>
          <input
            type="text"
            ngModel="{{ editEmployee?.name }}"
            name="name"
            class="form-control"
            id="name"
            autocomplete="off"
            required
          />
        </div>
        <input
          type="hidden"
          ngModel="{{ editEmployee?.id }}"
          name="id"
          class="form-control"
          id="id"
        />
        <input
          type="hidden"
          ngModel="{{ editEmployee?.employeeCode }}"
          name="userCode"
          class="form-control"
          id="userCode"
        />
        <div class="form-group">
          <label for="email">Email Address *</label>
          <input
            type="email"
            ngModel="{{ editEmployee?.email }}"
            name="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group">
          <label for="jobTitle">Job title *</label>
          <input
            type="text"
            ngModel="{{ editEmployee?.jobTitle }}"
            name="jobTitle"
            class="form-control"
            id="jobTitle"
            placeholder="Developer, Manager, Support, etc"
            list="jobTitle"
            required
          />
          <datalist id="jobTitle">
            <option value="Project Manager"></option>
            <option value="Developer"></option>
            <option value="Designer"></option>
            <option value="Support"></option>
            <option value="System Admin"></option>
            <option value="SEO Specialist"></option>
            <option value="Recruiter"></option>
            <option value="HR Manager"></option>
          </datalist>
        </div>
        <div class="form-group">
          <label for="phone">Phone *</label>
          <input
            type="tel"
            ngModel="{{ editEmployee?.phone }}"
            name="phone"
            class="form-control"
            id="phone"
            placeholder="Phone"
            required
          />
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL *</label>
          <input
            type="url"
            ngModel="{{ editEmployee?.imageUrl }}"
            name="imageUrl"
            class="form-control"
            id="imageUrl"
            placeholder="Image URL"
            required
          />
        </div>
        <div class="form-group">
          <label for="websiteUrl">Website URL</label>
          <input
            type="url"
            ngModel="{{ editEmployee?.websiteUrl }}"
            name="websiteUrl"
            class="form-control"
            id="websiteUrl"
            placeholder="https://www.employees-website.com"
          />
        </div>
        <div class="form-group">
          <label for="linkedinUrl">LinkedIn URL</label>
          <input
            type="url"
            ngModel="{{ editEmployee?.linkedinUrl }}"
            name="linkedinUrl"
            class="form-control"
            id="linkedinUrl"
            placeholder="https://www.linkedin.com/in/employee-name/"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="edit-employee-form-close"
            data-dismiss="modal"
            class="btn btn-secondary"
          >
            Close
          </button>
          <button
            (click)="onUpdateEmployee(editForm.value)"
            [disabled]="editForm.invalid"
            data-dismiss="modal"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
