<div class="row col-lg-12 mb-3">
  <h2>About "Employee Manager" App</h2>
</div>
<div class="row col-lg-12">
  <div>
    <p>
      Employee Manager Application allows users to perform CRUD (Create, Read,
      Update, Delete) operations through a Single Page Application (SPA) made in
      Angular (Front-End) that consumes a SpringBoot REST API (Back-End)
      connected to a MySQL Database.
    </p>
    <p>Author: <a href="https://radubulai.com" target="_blank">Radu B.</a></p>
    <p>Version: 1.0.0</p>
    <p>
      Development Documentation:
      <a
        href="https://github.com/radualexandrub/Study/blob/master/SpringBoot/SpringBootWithAngularCourse.md"
        target="_blank"
        >link</a
      >
    </p>
  </div>
</div>
<div class="row col-lg-12">
  <a routerLink="/">Back to all employees page</a>
</div>
